@charset "UTF-8";

#pascal {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: gray;
    line-height: 2em;
    width: 768px;
}

#progc {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: gray;
    line-height: 2em;
    width: 768px;
}

#appinvent {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: gray;
    line-height: 2em;
    width: 768px;
}