@charset "UTF-8";

#photopea {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: gray;
    line-height: 2em;
    width: 768px;
}
#animacao {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: gray;
    line-height: 2em;
    width: 768px;
}